#body{
	width:960px;
	padding: 0px;
	margin: 20px 200px;
	border: 1px solid #000000;
	background-color: #f3f2f0;
	color: white;

}

.left{
	float:left;
}

.right{
	float: right;
}


/* CSS pour le Header de la page */
#header{
	margin: 10px 0px 100px 0px;
	background-repeat:no-repeat;
	background-position:center center;
}
.blocHeader{
	background-image: url('image/back.png');
	background-repeat:no-repeat;
	background-position:center center;
}

.header{
}

#headLogoImie{

}
#headTitre{
	width:500px;
}

#headId{
}

.headId{
}

.titre{
	text-align:center;
}

#content{
	padding: 10px;
	clear:both;
	background-image: url('image/background_content.png');
}

/* CSS pour le menu de la page */
#menu{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-top: 10px;
	height: 50px;
}
.menu{
}
.menuTitre{

}
.menuRecherche{

}

#aside{	
	background-color:#0f3f98;
	border-radius: 10px;
	padding-left: 10px;
}
/* CSS pour le contenu de la page */
#section{
}
.projet{
	background-color:#e55000;
	border: 1px solid black;
	border-radius: 10px;
}

#projetsEnCours{
	width:49%;
}

#projetsProposes{
	width:49%;
}

/* CSS pour le footer de la page */
#footer{
	clear:both;
	border-top: 1px solid #000000;
	text-align: center;
}