body{
background-color: #f3f2f0;
height: 1000px;
width: 1000px;
margin: auto;
}

h2{
	text-align: center;
}

/* =========================================================
 * CSS du header
 */

.header{
position: relative;
margin-top: 5px;

height: 150px;
width: 1000px;

border-radius: 20px;
border-style: solid;
border-width: 1px;

background-color: #A0A0A0;
}

.logo{
position: relative;
float:left;
padding: 35px 20px 35px 20px;
}

.titre{
position: relative;
float: left;
padding: 35px 50px 35px 50px;

text-align: center;
}

.moncompte{	
position: relative;
float: left;
padding: 35px 20px 35px 20px;

text-align: center;
}

.info_momcompte{
margin-bottom: 2px;
}

.moncompte a{
text-decoration:none;
color: white;
background-color: black;
border-style: solid;
border-width: 1px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-color: black;

padding: 2px 2px 4px 2px;
}

.moncompte a:hover{
opacity: 0.5;
}
/* =========================================================
 * CSS du contenu
 */ 

.contenu{
position: relative;
top: 0px;
margin-top: 5px;
}

/* =========================================================
 * CSS da la barre du menu
 */

.menu_top{
position: relative;
margin-top: 12px;

height: 50px;
width: 100%;

border-radius: 20px;
border-style: solid;
border-width: 1px;
background-color: black;
}

.menu_top ul{
list-style-type: none;
text-align: left;

}

.menu_top ul li{
float: left;
width: 150px;
text-align: center;
border-right-style: solid;
border-right-color: white;
border-right-width: 1px;

}

.menu_top ul li a{
text-decoration: none;
text-align: center;
color:white;
font-weight: bold;

}

.menu_top ul li a:hover{
margin: 20px 20px 20px 20px;
opacity: 0.5;

}

.recherche{
position: absolute;
top: 15px;
right: 20px;
display: inline;
font-weight: bold;
color: white;
}
 
.recherche form{
text-align: left;
margin-left : 30px;
}

/* =========================================================
 * Fil d'ariane
 */

.fil_ariane{
position: relative;
margin-top: 12px;
}

/* =========================================================
 * News
 */

.indic_news{
position: relative;

padding: 5px 5px 5px 5px;

margin-top: 12px;
border-style: solid;
border-width: 1px;
border-radius: 20px;

background-color: #06739D;
}


/* =========================================================
 * Projets en cours pour l'utilisateur
 */

.projets_en_cours{
float: left;
width:59%;
margin-bottom: 12px;
}



div[class="projet_cours"]{
margin-top: 12px;
padding: 5px 5px 5px 5px;

border-style: solid;
border-width: 1px;
border-radius: 20px;

background-color: #00976A;
}

/* =========================================================
 * Projets proposés a l'utilisateurs
 */

.projets_propose{
margin-left: 12px;
float: left;
width:39%;
margin-bottom: 12px;
}

div[class="projet_propose"]{
margin-top: 12px;
padding: 5px 5px 5px 5px;

border-style: solid;
border-width: 1px;
border-radius: 20px;

background-color: #E55000;
}

/* =========================================================
 * Footer
 */

.footer{
clear: left;
margin-top: 5px;
padding: 5px 5px 5px 5px;

height: 100px;
width: 1000px;

border-style: solid;
border-width: 1px;
border-radius: 20px;

background-color: #A0A0A0;
}